:root {
  --dark-blue: #374151;
  --light-grey: #f9fafb;
  --grey: #f3f4f6;
  --border-grey: #d1d5db;
  --focus-grey: #9ca3af;
  --text-grey: #64748b;
  --body-bg: #f3f3f3;
  --container-bg: white;
  --title: #1e293b;
  --red: #dc2626;
}